$primary: #fe515f;

.book-page {
    &__type {
        &__item {
            cursor: pointer;
            border: 2px solid $primary;
            margin-bottom: 20px;
        }
        .selected-type {
            color: #fff;
            border: 2px solid $primary;
            margin-bottom: 20px;

            background: #000100;
        }
    }
    &__location {
        
        &__inputs {
            width: 70%;
            margin: auto;
            display: flex;
            flex-direction: column;
        }
        &__input {
            margin-bottom: 20px !important;
        }
    }
    &__buttons {
        color: $primary;
        width: 70px !important;
        height: 70px !important;
        cursor: pointer;
    }
}