@font-face {
  font-family: "AGLight";
  src: url("Akzidenz-Grotesk-BQ-Light_2831.ttf");
  font-weight: normal;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: "AGBold";
  src: url("Akzidenz-Grotesk-BQ-Bold-Extended_2808.ttf");
  font-weight: normal;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: "AGRegular";
  src: url("AkzidenzGrotesk_Regular.otf");
  font-weight: normal;
  font-display: auto;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "AGRegular";
}
.page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fe515f;

}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  /* padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; */

}
.title {
  display: flex;
  height: 70px;
  margin-bottom: 40px;
}
.title img {
  height: 100%;
}
header h1 {
  font-family: "AGBold";
  font-size: 75px;
  color: #fff;
  margin: 0 0 0 20px;
  align-self: center;
}
header .on-demand,
header .soon {
  font-family: "AGBold";
  font-size: 32px;
  color: #fff;
}
header .soon {
  margin-top: 20px;
  text-transform: uppercase;
}

header .mena {
  font-family: "AGRegular";
  font-size: 32px;
  color: #fff;
  line-height: 24px;
}
header .interested {
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
}

.shootrz {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.image-container {
  flex: 1;
  text-align: center;
  overflow: hidden;
}
.image-container img {
  /* width: 1s00%; */
  margin-right: -50%;
}
p {
  margin: 0;
}

.subscribe {
  display: flex;
  flex-direction: column;
  position: relative;
}
.subscribe input {
  font-size: 16px;
  background: #fe515f;
  color: #fff;
  border: none;
}
.subscribe input:focus {
  background: #fe515f;
  border-color: #fff !important;
  color: #fff;
}
.subscribe input::placeholder {
  color: #fff;
  opacity: 0.4;
}
.subscribe .alert {
  font-size: 14px;
}
.subscribe__button {
  font-size: 18px !important;
  font-family: "AGBold";
}

.subscribe_button:focus {
  background: #fff !important;
  color: #fe515f !important;
}
.subscribe p {
  font-size: 12px;
  color: #fff;
}
.result {
  position: absolute;
  top: 100%;
  left: 0;
}
form {
  margin: 0;
  border-radius: 0;
  border: 3px solid #fff;
}

footer {
  height: 30px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: "AGLight";
  font-size: 14px;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.button-loading {
  cursor: not-allowed;
}

.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
@media (max-width: 768px) {
  header {
    text-align: center;
  }
  header h1 {
    font-size: 50px;
  }
  .shootrz {
    padding: 0;
  }
  .image-container {
    padding: 20px;
  }
  .image-container img {
    margin: 0;
  }

  .page-container .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .title {
    height: 35px;
    justify-content: center;
  }
  .title h1 {
    font-size: 40px;
    margin-left: 10px;
  }
  .on-demand, .soon, .mena {
    font-size: 18px !important;
  }
  .interested, .subscribe {
    padding: 0 10px;
  }
  .interested {
    line-height: 14px;
    font-size: 11px !important;
  }
  .subscribe input {
    font-size: 12px !important;
  }
  .subscribe__button {
    font-size: 14px !important;
  }
  .result {
    left: 10px;
  }
}
