$primary: #fe515f;

.events-page {
  // display: flex;
  // flex-direction: column;
  // height: 400px;
  // justify-content: center;
  
  &__header {
    flex-grow: 1;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    &__button {
      font-family: "AGBold";
      font-size: 30px;
      color: black;
      text-decoration: none;
      border: 5px solid $primary;
      align-self: center;
      padding: 15px 30px;
      &:hover {
        color: black;
        text-decoration: none;
      }
      @media (max-width: 768px) {
        font-size: 16px;
      } 

    }
    @media (max-width: 768px) {
      h1 {
        font-size: 24px;
      }
     
    }
  }
  &__header-full {
    margin-top: 40px;
    h1 {
      font-family: "AGBold";
      font-size: 33px;
    }
    a {
      color: #fff;
      font-family: "AGBold";
      background: $primary;
      padding: 5px 15px;
      line-height: 37px;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
    @media (max-width: 768px) {
      h1 {
        font-size: 24px;
      }
      a {
        font-size: 14px;
      }
    }
  }
  &__event {
    cursor: pointer;
    display: flex;
    border: 2px solid $primary;
    margin-bottom: 30px;
    &__address {
      flex-grow: 1;
      padding: 10px;
      font-family: "AGBold";
      text-transform: capitalize;
    }
    &__count {
      color: #fff;
      background: $primary;
      font-size: 14;
      text-align: right;
      padding: 10px;
      font-family: "AGBold";
    }
  }
}
