
.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    &__header{
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__email, &__password {
        width: 50%;
    }
    &__submit {
        color: #fff;
        background: #fe515f;
        border: 0;
        padding: 5px 10px;
        border-radius: 5px;
    }
}