
.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    &__header{
        text-align: center;
        font-size: 24px;
        width: 50%;
        margin: auto;
        color: #747474;
        font-family: 'AGLight';
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__email, &__password {
        width: 40%;
    }
    &__submit {
        color: #fff;
        background: #0E0E0E;
        border: 0;
        padding: 8px 15px;
        border-radius: 2px;
        font-size: 16px;
    }
    &__signup {
        font-size: 16px;
        a {
            color: #0E0E0E;
                cursor: pointer;
                text-decoration: underline;
            &:hover {
                color: #0E0E0E;
            }
        }
    }
}